.hf-cache/

harnesses/config/opencode/*
!harnesses/config/opencode/opencode.jsonc

harnesses/config/pi/*
!harnesses/config/pi/mcp.json
!harnesses/config/pi/models.json
!harnesses/config/pi/settings.json
